.author {
    font-family:sans-serif; 
    font-size:12pt; 
    font-weight:normal; 
    text-align:left; 
    color:#626262;
    background-color: #F1F1F1; 
    padding:0px; 
    margin:-10px -10px -10px 0px; 
}